body 
{ 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 20px; 
}
.container 
{ 
    max-width: 350px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
}
select, input, button 
{ 
    width: 95%; 
    margin: 10px 0; 
    padding: 10px; 
}
.food-img 
{ 
    width: 35%; 
    max-height: 350px; 
    margin: 10px 0; 
    border-radius: 10px; 
}
